.App {
  text-align: center;
}

.project-container {
  display: flex;
  border: red 2px solid;
  align-items: ;

}
.project-title {
  float: left;
}
.vote-count {

  text-align: right;
  top: 0px;
  right: 0px;

}

.projects {
  background-color: cadetblue;
  flex: 1;
  border: 5px solid;
  padding: 20px;
  margin: 5px;

}
.projects:hover {
  color:blueviolet;
  font-size: 20px;
  transition: font-size 5s;
}



.projects-heading {
  display: block;
  margin-bottom: 3vh;
  border: 1px solid green;
  text-align: center;
  
}


